.pixel{
    width: 73px;
    height: 73px;
    background-color: white;
    border: 1px solid black;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}